@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}
.hidden{
  display: none;
}
.nonhidden{
  display: initial;
}
body{
  color: white;
}
.page-title{
  background-color: #0275d8;
  color: white;
  margin: 2.5rem 0;
  padding:0.5rem 1rem;
  max-width: 350px;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);  
  font-size: 30px;
  font-weight: bold;
}
.arrow-scroll-down{
  position: fixed;
  height: 40px;
  right: 0;
  bottom: 0;
  margin: 1rem;
  border: 2px solid #0275d8;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  &:hover{
    border: 2px solid white;
    img{
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(64deg) brightness(102%) contrast(104%);
    }
  }
  img{
    filter: invert(30%) sepia(95%) saturate(2443%) hue-rotate(192deg) brightness(90%) contrast(98%);
    height: 100%;
    animation: bounce;
    animation-duration: 2s;   
    animation-delay: 5s;    
  }
}


.loading{
  background-color: rgba(0,0,0,0.8);
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left:0;
  z-index: 100;
  text-align: center;
  padding-top: 45vh;
}