.supervision-page{
  min-height: 100vh;
  color: black;
  .supervision-btn{
    padding: 0.5rem 2rem;
  }
  .supervised-user{
    margin: 2rem 0;
    border-bottom: 2px solid black;
    padding:2rem 0;
  }
}